/build/
/dist/
/hostelmanagement system fix merge error/build/
/hostelmanagement system fix merge error/dist/
/hostelmanagement system fix merge error/nbproject/private/
/hostelmanagement system  merging error fix/build/
/hostelmanagement system  merging error fix/dist/
/hostelmanagement system  merging error fix/nbproject/private/